### Handling Imbalanced Dataset
1. Up Sampling
2. Down Sampling

In [2]:
import numpy as np
import pandas as pd
# set the random seed for reproductibility
np.random.seed(123)
## create a dataframe with two classes
n_sample=1000
class_0_ratio=0.9
n_class_0=int(n_sample*class_0_ratio)
n_class_1=n_sample-n_class_0

In [3]:
n_class_0,n_class_1

(900, 100)

In [4]:
### create my dataframe with imbalanced dataset
class_0=pd.DataFrame(
    {
        'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
        'feature_2':np.random.normal(loc=0,scale=1,size=n_class_0),
        'target':[0]*n_class_0
    }
)
class_1=pd.DataFrame(
    {
        'feature_1':np.random.normal(loc=2,scale=1,size=n_class_1),
        'feature_2':np.random.normal(loc=2,scale=1,size=n_class_1),
        'target':[1]*n_class_1
    }
)

In [5]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [6]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [6]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [7]:
### Upsampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [10]:
from sklearn.utils import resample
df_minority_upsampled=resample(df_minority,replace=True,n_samples=len(df_majority),random_state=42) ## sample with replacement

In [11]:
df_minority_upsampled.shape

(900, 3)

In [12]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1

In [13]:
df_upsampled=pd.concat([df_majority,df_minority_upsampled])
df_upsampled['target'].value_counts() ## output willbe 900 zeroes and 900 ones

target
0    900
1    900
Name: count, dtype: int64

### For down sampling, we have to do the same work for the lowest value