SQL(Structured Query Language) is a standard language for managing and manipulationg relational databases. sqlite is a self-contained,serverless and zero-configuration database engine that is widely used for embedded database system

In [1]:
import sqlite3

In [2]:
## connect to an sqlite database
connection=sqlite3.connect('example.db')
connection

In [3]:
cursor=connection.cursor()

In [16]:
## create a table
cursor.execute('''
    create Table if not exists employees
    (
        id Integer Primary Key,
        name Text Not Null,
        age Integer,
        department text
    )
''')
## commit the changes(Must do after any type of operation in sqlite 3)
connection.commit()

In [12]:
cursor.execute('''
   Select * from employees
''')

In [13]:
## insert the data in sqlite table
cursor.execute('''
    Insert Into employees(name,age,department)
                values('ayan',20,'Data Scientist')
               
''')
cursor.execute('''
    Insert Into employees(name,age,department)
                values('bob',30,'Finance')
               
''')
cursor.execute('''
    Insert Into employees(name,age,department)
                values('chalie',35,'engineering')
               
''')
# commit the changes
connection.commit()

In [15]:
## query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data
for row in rows:
    print(row)

(1, 'ayan', 20, 'Data Scientist')
(2, 'bob', 30, 'Finance')
(3, 'chalie', 35, 'engineering')

In [17]:
## update the data in the table
cursor.execute('''
    UPDATE employees
    Set age=32
               
    where name='bob'
''')

connection.commit()

In [18]:
## query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data
for row in rows:
    print(row)

(1, 'ayan', 20, 'Data Scientist')
(2, 'bob', 32, 'Finance')
(3, 'chalie', 35, 'engineering')

In [19]:
## delete the data from the table
cursor.execute('''
    Delete from employees
               where name='bob'
''')
connection.commit()

In [20]:
## query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data
for row in rows:
    print(row)

(1, 'ayan', 20, 'Data Scientist')
(3, 'chalie', 35, 'engineering')

In [22]:
## working with sales data
## connection to an sqlite database
connection=sqlite3.connect('sales_data.db')
cursor=connection.cursor()
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales(
               id INTEGER PRIMARY KEY,
               date TEXT NOT NULL,
               product TEXT NOT NULL,
               sales INTEGER,
               region TEXT
               )
''')
## insert date into the sales table
sales_data=[
    ('2025-01-01','product1',100,'North'),
    ('2025-01-02','product2',200,'South'),
    ('2025-01-03','product1',150,'East'),
    ('2025-01-04','product3',250,'West'),
    ('2025-01-05','product2',300,'North')
]
cursor.executemany('''
Insert into sales(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)
connection.commit()

In [24]:
## query the data from the table
cursor.execute('Select * from sales')
rows=cursor.fetchall()

## print the queried data
for row in rows:
    print(row)

(1, '2025-01-01', 'product1', 100, 'North')
(2, '2025-01-02', 'product2', 200, 'South')
(3, '2025-01-03', 'product1', 150, 'East')
(4, '2025-01-04', 'product3', 250, 'West')
(5, '2025-01-05', 'product2', 300, 'North')

In [25]:
## close the connection
connection.close()

In [26]:
## query the data from the table
cursor.execute('Select * from sales')
rows=cursor.fetchall()

## print the queried data
for row in rows:
    print(row)

## now we can't connect the database as we close the connection

ProgrammingError: Cannot operate on a closed database.