In [1]:
empty={}
print(type(empty))

<class 'dict'>

In [ ]:
## it is a pair of key and value
# no duplicate key is taken here
# single key is always used
student={"name":"krish","age":21,"grade":24}
print(student)

{'name': 'krish', 'age': 21, 'grade': 24}

In [6]:
## accessing dicteniory elements
student={"name":"krish","age":21,"grade":'A'}
print(student["age"])
# accessing using get method
print(student.get('grade'))
print(student.get('last_name'))
print(student.get('last_name',"Not available"))

21
A
None
Not available

In [7]:
# modifying dictionary elements
# dictionaries are mutable , so i can add,update or delete elements
print(student)

{'name': 'krish', 'age': 21, 'grade': 'A'}

In [ ]:
student["age"]=33 # updated the value of the key
print(student)
student["address"]="india" # added a new kwy and a value
print(student)

{'name': 'krish', 'age': 33, 'grade': 'A'}
{'name': 'krish', 'age': 33, 'grade': 'A', 'address': 'india'}

In [9]:
del student["grade"] # delete any key
print(student)

{'name': 'krish', 'age': 33, 'address': 'india'}

In [10]:
## Dictionary methods
keys=student.keys() # all the keys
print(keys)
val=student.values() # get all the values
print(val)

dict_keys(['name', 'age', 'address'])
dict_values(['krish', 33, 'india'])

Shallow copy

In [11]:
student_copy=student
print(student)
print(student_copy)

{'name': 'krish', 'age': 33, 'address': 'india'}
{'name': 'krish', 'age': 33, 'address': 'india'}

In [12]:
student["name"]="ayan"
print(student)
print(student_copy)

{'name': 'ayan', 'age': 33, 'address': 'india'}
{'name': 'ayan', 'age': 33, 'address': 'india'}

In [13]:
student_copy1=student.copy() # shallow copy
print(student_copy1)
print(student)

{'name': 'ayan', 'age': 33, 'address': 'india'}
{'name': 'ayan', 'age': 33, 'address': 'india'}

In [14]:
student["name"]="yoyo"
print(student)
print(student_copy1)

{'name': 'yoyo', 'age': 33, 'address': 'india'}
{'name': 'ayan', 'age': 33, 'address': 'india'}

Iterating over dictionaries

In [15]:
for keys in student.keys():
    print(keys)

name
age
address

In [16]:
for val in student.values():
    print(val)

yoyo
33
india

In [17]:
for key,value in student.items():
    print(f"{key}:{value}")

name:yoyo
age:33
address:india

Nested Dictionaries

In [18]:
students={
    "student1":{"name":"krish","age":32},
    "student2":{"name":"spiderman","age":35}
}
print(students)

{'student1': {'name': 'krish', 'age': 32}, 'student2': {'name': 'spiderman', 'age': 35}}

In [20]:
# iterating in nested dictionaries
for student_id,student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key,val in student_info.items():
        print(f"{key}:{val}")

student1:{'name': 'krish', 'age': 32}
name:krish
age:32
student2:{'name': 'spiderman', 'age': 35}
name:spiderman
age:35

In [21]:
# dictionaries comprehensions
squares={x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [22]:
## Use a dictionary to count the frequency of elements in list
num=[1,2,2,2,3,3,3,3,4,4,4,4,4]
freq={}
for n in num:
    if n in freq:
        freq[n]+=1
    else:
        freq[n]=1
print(freq)

{1: 1, 2: 3, 3: 4, 4: 5}