In [1]:
lst=[]
print(type(lst))

<class 'list'>

In [ ]:
names=['atan','janu','jaan',1,2,3,5]
print(names)
print(names[0])
print(names[-1]) # last item
print(names[1:]) # from first index to the last index item


# accessing list items
for u in names:
    print(u)

['atan', 'janu', 'jaan', 1, 2, 3, 5]
atan
5
['janu', 'jaan', 1, 2, 3, 5]
atan
janu
jaan
1
2
3
5

In [5]:
names=['atan','janu','jaan',1,2,3,5]
print(names[-1:])

[5]

In [6]:
#modifying list element
fruits=["apple","banana","watermelon","mango","guava"]
fruits[1]="juice"
print(fruits)

['apple', 'juice', 'watermelon', 'mango', 'guava']

In [7]:
fruits[1:]="chai"
fruits

['apple', 'c', 'h', 'a', 'i']

In [10]:
fruits=["apple","banana","watermelon","mango","guava"]
fruits.append("orange")
fruits

['apple', 'banana', 'watermelon', 'mango', 'guava', 'orange']

In [11]:
fruits.insert(1,"kiwi")
fruits

['apple', 'kiwi', 'banana', 'watermelon', 'mango', 'guava', 'orange']

In [ ]:
fruits.remove("watermelon") # removing the first occurance of an item
fruits

['apple', 'banana', 'mango', 'guava', 'orange']

In [21]:
fruits=["apple","banana","watermelon","mango","guava"]
ld=fruits.pop()
ld
fruits

['apple', 'banana', 'watermelon', 'mango']

In [ ]:
fruits.sort() #sort the list in ascending order

In [24]:
fruits.reverse()
fruits

['watermelon', 'mango', 'banana', 'apple']

Slicing List

In [28]:
num=[1,2,3,4,5,6,7,8,9,10]
print(num[2:5]) #from 2 to 5 but not including 5
print(num[:5])
print(num[5:])
print(num[::2])
print(num[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

Iterating over list

In [34]:
num=[1,2,3,4,5,6,7,8,9,10]
for index,number in enumerate(num):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [35]:
lst=[]
for x in range(10):
    lst.append(x**2)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

List comprehension

In [37]:
[x**2 for x in range(10)] # this is called lsit comprehension
# basic syntax for this expression is [expression for item in iterable]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [40]:
square=[num **2 for num in range(10) if num%2==0]
print(square)

[0, 4, 16, 36, 64]

Nested list comprehension

In [41]:
lst1=[1,2,3,4]
lst2=['a','b','c','d']
pair=[[i,j] for i in lst1 for j in lst2]
pair

[[1, 'a'],
 [1, 'b'],
 [1, 'c'],
 [1, 'd'],
 [2, 'a'],
 [2, 'b'],
 [2, 'c'],
 [2, 'd'],
 [3, 'a'],
 [3, 'b'],
 [3, 'c'],
 [3, 'd'],
 [4, 'a'],
 [4, 'b'],
 [4, 'c'],
 [4, 'd']]

Create a TODO list to keep track of tasks

In [1]:
to_do_list=["Buy grocesseries","clean the house","pay bills"]
## adding to task
to_do_list.append("schedule meeting")
to_do_list.append("go for a run")
## removing a completed task
to_do_list.remove("clean the house")
## checked in if a task is completed or not
if"pay bills" in to_do_list:
    print("Don't forget to pay the bills")
print("To do list remaining")
for task in to_do_list:
    print(f"-{task}")

Don't forget to pay the bills
To do list remaining
-Buy grocesseries
-pay bills
-schedule meeting
-go for a run