In [1]:
my_set={1,2,3,4,5,6}
print(type(my_set))
print(my_set)

<class 'set'>
{1, 2, 3, 4, 5, 6}

In [3]:
empt=set([1,3,5,7])
print(empt)

{1, 3, 5, 7}

In [6]:
# adding and removing elements
empt.add(8)
empt

{1, 3, 5, 7, 8}

In [7]:
empt.remove(7)
empt

{1, 3, 5, 8}

In [9]:
empt.discard(10) # if the element is not the member of the set, it will not give any error. it will just skip it using discard method
empt

{1, 3, 5, 8}

In [12]:
# pop method
rm=empt.pop()
print(rm)
print(empt)

1
{3, 5, 8}

In [13]:
# set membership test
yo={1,2,3,4,5}
print(3 in yo)
print(10 in yo)

True
False

Mathematical Operation

In [16]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}
## Union
unionset=set1.union(set2)
print(unionset)
## intersection
intersection=set1.intersection(set2)
print(intersection)
## find the intersection and update it to the set 1 automatically
set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [17]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}
diff=set1.difference(set2)
print(diff)

{1, 2, 3}

In [2]:
## symmetric difference
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [4]:
set1={2,3,4,5,6}
set2={3,4,5}
print(set1.issubset(set2))
print(set1.issuperset(set2))

False
True

In [5]:
lt=[1,2,3,4,5,4,2]
set(lt)

{1, 2, 3, 4, 5}

In [7]:
## counting unique words in text
text="In this tutorial, we are discussing about sets"
words=text.split()
## convert the list of words to set to get the unique item
print(set(words))
print(len(set(words)))

{'this', 'tutorial,', 'about', 'we', 'discussing', 'sets', 'are', 'In'}
8