Standard library overview

In [1]:
import array
arr=array.array('i',[1,2,3,4])
print(arr)

array('i', [1, 2, 3, 4])

In [5]:
import random
print(random.randint(1,10))
print(random.choice(['apple','cherry','banana']))

4
cherry

In [6]:
import os
print(os.getcwd())

d:\Machine Learning\python

In [8]:
# high level operation on files
import shutil
shutil.copyfile('source.txt','destination.txt')

'destination.txt'

In [12]:
## data serialization
import json
data={'name':'ayan','age':21}
json_str=json.dumps(data)
print(json_str)
print(type(json_str))
parsed_data=json.loads(json_str)
print(parsed_data)
print(type(parsed_data))

{"name": "ayan", "age": 21}
<class 'str'>
{'name': 'ayan', 'age': 21}
<class 'dict'>

In [13]:
## csv
import csv
with open('example.csv',mode='w',newline='') as file:
    writer=csv.writer(file)
    writer.writerow(['name','age'])
    writer.writerow(['ayan',21])

with open('example.csv',mode='r') as file:
    reader=csv.reader(file)
    for row in reader:
        print(row)

['name', 'age']
['ayan', '21']

In [14]:
# date time
from datetime import datetime ,timedelta

now=datetime.now()
print(now)
yesterday=now-timedelta(days=1)
print(yesterday)

2025-06-18 20:39:07.821494
2025-06-17 20:39:07.821494

In [15]:
## time
import time
print(time.time())
time.sleep(2)
print(time.time())

1750259405.89518
1750259407.8963637

In [18]:
# regular experssion
import re
pattern=r'\d+'
text='There are total 123 apples'
match=re.search(pattern,text)
print(match.group())

123